html {
  font-size: 18px;
  background-color: white;
}

body {
    font-family: "Helvetica" sans-serif;
    line-height: 1.4em;
}


h1, h4 {
  text-transform: uppercase;
  font-weight: bold;
  color: white;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

/*header*/

.head {
  background-color: black;
  color: white;
}

.head .container {
  display: flex;
  align-items: center;
  padding: 12px 0 12px 0.5em;
  text-transform: uppercase;
}

.head img {
  padding-right: 15px;
  height: 1.5rem;
}


/*banner*/
.banner {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg);
  height: 25em;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header {
  background-color: black;
  color: white;
  width: 20em;
  top: 9em;
  position: relative;
  padding: 2em 3em;
}


.header h1 {
  margin: 0.25em 0;
  font-size: 2em;
  line-height: 1.2em;
}


/*navigation*/
.nav {
  background-color: firebrick;
  color: white;
  text-transform: uppercase;
}

ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 0;
  list-style: none;
}

.mobile {
  display: none;
}

/*shop and address*/

.products, .ifo {
  display: flex;
  justify-content: space-between;
  margin: 3em 0 0 0;
}

/*shop*/

.product {
  width: 30%;
}

.product-image {
  height: 9em;
  padding: 2em 0;
  border: 4px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-image img {
  max-width: 8em;
}

.description  {
  display: block;
  background-color: black;
  color: white;
  text-align: center;
  padding: 0.5em;
}


/*location*/
.info {
  width: 35%;
}

.info .title {
  display: block;
  background-color: black;
  color: white;
  padding: 1em 2em;
}

/*footer*/

footer {
  color: white;
  padding: 5em 0;
  background-color: black;
  margin-top: 4em;
}
